* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
body {
  background-color: rgb(51,0,44);
}
header {
  padding: 8px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
h1 {
  font-size: 25px;
  color: #fff;
}
.App {
  text-align: center;
}

main {
  overflow: auto;
  transition: background-color .25s ease;
  height: calc(100vh - 78px);
  background-color: #fff;
}

.main--section{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 270px;
  box-sizing: border-box;
  width: fit-content;
  gap: 8px;
  padding: 8px;
  height: 100%;
}

.section {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgb(236,236,236);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.add--section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px dashed rgba(75,11,49,.156);
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffffff50;
}

.add--section svg, .section--header svg {
  width: 16px;
  height: 16px;
}
.section--header{
  height: 40px;
  box-shadow: 0 2px 2px #ececec;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section--header input{
  padding: 2px 4px;
  background-color: unset;
  font-size: 1rem;
  text-indent: 2px;
  width: 130px;
  outline: none;
  border: none;
}
.button--add{
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid rgb(236,236,236);
  padding: 4px;
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
}
.button--add:hover{
  background-color: #00000017;
}
.section--add span{
  font-size: .8em;
  font-weight: 200;
}


.section--input{
  padding: 3px;
  display: flex;
  border-radius: 4px;
  background-color: #cbcbcb;
}
.add--section:hover {
  background-color: #ffffff85;
  border: 2px dashed rgba(75,11,49,.532);
}

.list--tasks{
  margin-top: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
  border-radius: 4px;
  height: calc(100vh - 140px);
  overflow-y: overlay;
  overflow-x: hidden;
}
.task {
  border: 1px solid rgb(236,236,236);
  border-left: 4px solid rgb(236,236,236);
  cursor: pointer;
  border-radius: 4px;
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  max-width: 252px;
}
.phantom{
  position: fixed;
  background-color:#fdf8ff;
  width: 252px;
}
.task:hover {
  background-color: #fdf8ff;
}
.overlay{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0000000d;
}
.overlay.active{
  display: block;
  z-index: 1;
}
.box{
  background-color: #fff;
  position: absolute;
  border-radius: 6px;
  box-shadow: 0 0 40px #0003;
}
.box--list{
  display: flex;
  flex-direction: column;
}
.box--item:first-child{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.box--item{
  display: flex;
  align-items: center;
  padding: 8px 4px;
  background-color: #fff;
  cursor: pointer;
}
.box--item:hover {
  background-color: rgb(51,0,44);
  color: #fff;
}
.box--item:hover input{
  color: #fff;
}
.box--item:hover svg {
  fill: #fff;
}
.box--item input{
  background-color: unset;
  padding: 6px;
  outline: unset;
  border: 1px solid;
  border-radius: 6px solid;
  font-size: .9rem;
  border-color: #d4d4d4;
}
.colors{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 4px 0;
  gap: 4px;
}
.colors--item{
  width: 20px;
  height: 20px;
  transition: transform .25s ease-out,opacity .2s;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid rgb(240,240,240);
  cursor: pointer;

}
.colors--item.active{
  transform: scale(1.25);
}

.colors--item:not(.active){
  opacity: .5;
}
.colors--item:hover:not(.active){
  transform: scale(1.1);
  opacity: 1;
}
.box--item svg{
  width: 20px;
  height: 20px;
  margin-left: 4px;
  position: absolute;
}
.box--item .delete--text{
  user-select: none;
  text-indent: 34px;
  font-size: .9rem;
}
